<article ng-show="project">

  <div class="page-header">
      <h1>The Project Name <small>{{ project.project_number }}</small></h1>
    </div>

      <tabset>

    <tab heading="Basics">
      include "summary_.html"
      include "client_.html"
      include "projecct_source_.html"
    </tab>

    <tab heading="Location">
      include "location_.html"
    </tab>

    <tab heading="Dimensions">
      include "dims_.html"
    </tab>

    <tab heading="Press attention">
      include "press_.html"
    </tab>

    <tab heading="Phases">
      include "phases_.html"
    </tab>

    <tab heading="Project Sheet source">
      include "gush_.html"
    </tab>

    <tab heading="Relationships &amp; team">
      include "team_.html"
    </tab>

  </tabset>

    
  <div ng-show="project.non_building">
    <h1>{{ project.non_building.name }}</h1>
    <editable-group object="project"
                    lens="project.non_building.description"
                    subgroup-class="alert alert-info col-sm-6">
      <editable property="description" label="Description"></editable>
    </editable-group>
  </div>

</article>
